html {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    background-color: white;
}

.tombol {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    background: #22a4cf;
    color: white;
    border-radius: 5px;
    padding: 12px 20px;
}

center {
    margin-top: 50px;
}

a.comment-indicator:hover+div.comment {
    background: #ffd;
    position: absolute;
    display: block;
    border: 1px solid black;
    padding: 0.5em;
}

a.comment-indicator {
    background: red;
    display: inline-block;
    border: 1px solid black;
    width: 0.5em;
    height: 0.5em;
}

div.comment {
    display: none;
}

table {
    border-collapse: collapse;
    page-break-after: always;
    margin-left: auto;
    margin-right: auto;
}

.gridlines td {
    border: 1px dotted black;
}

.gridlines th {
    border: 1px dotted black;
}

.b {
    text-align: center;
}

.e {
    text-align: center;
}

.f {
    text-align: right;
}

.inlineStr {
    text-align: left;
}

.n {
    text-align: right;
}

.s {
    text-align: left;
}

td.style0 {
    vertical-align: bottom;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Calibri';
    font-size: 11pt;
    background-color: white;
}

th.style0 {
    vertical-align: bottom;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: 'Calibri';
    font-size: 11pt;
    background-color: white;
}

td.style1 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Calibri';
    font-size: 11pt;
    background-color: white;
}

th.style1 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Calibri';
    font-size: 11pt;
    background-color: white;
}

td.style2 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Calibri';
    font-size: 11pt;
    background-color: white;
}

th.style2 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Calibri';
    font-size: 11pt;
    background-color: white;
}

table.sheet0 col.col0 {
    width: 42pt;
}

table.sheet0 col.col1 {
    width: 74.5555547pt;
}

table.sheet0 col.col2 {
    width: 115.89999867pt;
}

table.sheet0 col.col3 {
    width: 22.36666641pt;
}

table.sheet0 col.col4 {
    width: 22.36666641pt;
}

table.sheet0 col.col5 {
    width: 22.36666641pt;
}

table.sheet0 col.col6 {
    width: 22.36666641pt;
}

table.sheet0 col.col7 {
    width: 22.36666641pt;
}

table.sheet0 col.col8 {
    width: 22.36666641pt;
}

table.sheet0 col.col9 {
    width: 22.36666641pt;
}

table.sheet0 col.col10 {
    width: 92.85555449pt;
}

table.sheet0 tr {
    height: 15pt;
}